# Virtual environments
.venv/
venv/
env/

# Git
.git/
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (Crucial for security)
.env

# Database file (We are mounting this via docker-compose, so we don't want to copy it during the build)
study_buddy.db
